<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sundata.admin.mapper.AlarmRecordMapper">

	<select id="queryAlarmRecordList" resultType="com.sundata.admin.model.AlarmRecordModel">
		SELECT
		a.licenseplate,b.name userName,a.alarmTime,a.imgUrl,a.alarmAdress,d.name carOwnName,d.telphone,b.id,b.tel,a.processingstate
		FROM tb_alarmSheet a left JOIN tb_alarmusers b on a.userid = b.id left
		JOIN TB_Cars c on a.licensePlate = c.licenseplate LEFT JOIN
		tb_carowner d on c.carOwnerid = d.id where processingstate=1
	</select>



</mapper>