<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sundata.admin.mapper.AlarmRecordMapper">

	<select id="onAlarmList" resultType="com.sundata.admin.model.AlarmRecordModel">
		select
		a.alarmSheetId,a.userid,a.licenseplate,a.alarmAdress,a.alarmTime,a.imgurl,a.processingState,a.describ
		,c.name as carOwnName,d.name as userName,d.tel,c.telphone
		from tb_alarmsheet a inner JOIN
		tb_cars b on a.licenseplate = b.licensePlate
		left JOIN tb_carowner c on b.carOwnerid = c.ID
		left join tb_alarmusers d on a.userid=d.account
		 where a.processingstate='1' or a.processingstate='3' or a.processingstate='2' 
	 	ORDER BY alarmTime DESC
	</select>
	<select id="alarmList" resultType="com.sundata.admin.model.AlarmRecordModel">
		select
		a.alarmSheetId,a.userid,a.licenseplate,a.alarmAdress,a.alarmTime,a.imgurl,a.processingState,a.describ
		,c.name as carOwnName,d.name as userName,d.tel,c.telphone
		from tb_alarmsheet a inner JOIN
		tb_cars b on a.licenseplate = b.licensePlate
		left JOIN tb_carowner c on b.carOwnerid = c.ID
		left join tb_alarmusers d on a.userid=d.account
		ORDER BY alarmTime DESC
	</select>
	<!-- 修改处理状态 -->
	<update id="changeState">
	update tb_alarmsheet set processingState =#{processingState} where alarmSheetId =#{alarmSheetId}
	</update>
	<select id="alarmDisplay" resultType="com.sundata.admin.model.AlarmRecordModel">
	select
		a.alarmSheetId,a.userid,a.licensePlate,a.alarmAdress,a.alarmTime,a.imgUrl,a.processingState,a.describ,
		b.carType,b.carOwnerid,b.carAddress,b.userType,b.brandNumber,b.carcode,b.enginecode,b.carColor,
		c.id,c.idNumber,c.name as carOwnName,c.address,c.birthday,c.telphone,c.illegalNumber,
		d.account,d.name as userName,d.idcardNumber,d.sex as userSex,d.uptime as userUptime,d.tel
		from tb_alarmsheet a inner JOIN
		tb_cars b on a.licenseplate = b.licensePlate
		left JOIN tb_carowner c on b.carOwnerid = c.ID
		left join tb_alarmusers d on a.userid=d.account
		where a.alarmSheetId = #{alarmSheetId}
	</select>
	
	<delete id="deleteAlarm">
	delete from tb_alarmsheet where alarmSheetId = #{alarmSheetId}
	</delete>
	<!-- 查询人工处理的列表 -->
<select id="manualAlarmList" resultType="com.sundata.admin.model.AlarmRecordModel">
		select
		a.alarmSheetId,a.userid,a.licenseplate,a.alarmAdress,a.alarmTime,a.imgurl,a.processingState,a.describ
		,c.name as carOwnName,d.name as userName,d.tel,c.telphone
		from tb_alarmsheet a inner JOIN
		tb_cars b on a.licenseplate = b.licensePlate
		left JOIN tb_carowner c on b.carOwnerid = c.ID
		left join tb_alarmusers d on a.userid=d.account
		 where a.processingstate='4' 
	 	ORDER BY alarmTime DESC
	</select>

</mapper>