<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sundata.mobile.mapper.MobileAlarmMapper">


	<insert id="alarm" useGeneratedKeys="true"  keyProperty="alarmSheetID">
	insert into tb_alarmSheet (userid,licensePlate,alarmAdress,alarmTime,imgUrl,ProcessingState,describ)
	values(#{userid},#{licensePlate},#{alarmAdress},#{alarmTime},#{imgUrl},#{ProcessingState},#{describ})
	</insert>
	
	<select id="queryOnAlarm" resultType="com.sundata.mobile.model.MobileAlarmModel">
	select * from  tb_alarmSheet where userid =#{userid} and ProcessingState = "1"
	</select>

	<select id="queryOneAlarm" resultType="com.sundata.mobile.model.MobileAlarmModel">
		select alarmSheetID,ProcessingState,licensePlate,alarmAdress,name from tb_alarmSheet left join
		tb_alarmusers on tb_alarmSheet.userid = tb_alarmusers.account where tb_alarmSheet.alarmSheetId = #{alarmSheetID}
	</select>
	
	<select id="alarmHistory" resultType="com.sundata.mobile.model.MobileAlarmModel">
	select * tb_alarmSheet  alarmFinish where userid =#{userid}
	</select>
	<update id="alarmFinish">
	update tb_alarmSheet set ProcessingState = '2' where alarmSheetId = #{alarmSheetID}
	</update>

</mapper>