<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sundata.login.mobile.mapper.LoginMapper">

	<select id="login" resultType="com.sundata.login.mobile.model.LoginModel">
		select * from 	tb_alarmUsers  where account =#{account} and password = #{password}

	</select>

	<insert id="register" useGeneratedKeys="true"  keyProperty="account">
	insert into tb_alarmUsers(password,name,sex,idcardNumber,tel,uptime) 
	values(#{password},#{name},#{sex},#{idcardNumber},#{tel},#{uptime})
	</insert>
	
	<select id="userInfo" resultType="com.sundata.login.mobile.model.LoginModel">
	select account,name,idcardNumber,sex,uptime,tel from  tb_alarmUsers where account=#{account}
	</select>

	<update id="modifyPassword">
		update tb_alarmUser set password = #{password} where account = #{account}
	</update>
</mapper>