<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sundata.alarmdeal.mapper.CarMapper">

	<select id="findCar" resultType="com.sundata.alarmdeal.model.CarModel">
	select * from tb_cars c left join tb_carOwner o on c.carOwnerid=o.id
	 where licensePlate = #{licensePlate} 
	</select>

	<select id="carIsHave" parameterType="string" resultType="java.lang.Integer" >
	select count(*) from tb_cars where licensePlate=#{_parameter}
	</select>	
	<select id="queryCar" resultType="com.sundata.alarmdeal.model.CarModel">
	select * from tb_cars b left JOIN tb_carowner c on b.carOwnerid = c.ID
	</select>
	<select id="display" resultType="com.sundata.alarmdeal.model.CarModel">
	select * from tb_cars b left JOIN tb_carowner c on b.carOwnerid = c.ID where b.licensePlate =#{licensePlate}
	</select>

</mapper>